.container {
    /* border: #000 solid 2px; */
    width: 68%;
    max-width: 1060px;
    height: 600px;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding: 0px 100px 0px 100px; */
}

.container h1 {
    font-size: 75px;
    line-height: 0;
}

.scrollDiv {
    /* border: #0f0 2px solid; */
    height: 500px;
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 50px;
    /* padding: 100px   ; */
}

.scrollDiv::-webkit-scrollbar {
    display: none;
}



.scrollDiv .card {
    /* border: #00f solid 2px; */
    width: 300px;
    height: 400px;
    background: #1f1f1f;
    text-align: center;
    border-radius: 10px;
    /* padding: 10px; */
}
.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}


.scrollDiv .imgDiv {
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
}

.imgDiv img{
    width: 100%;
    border-radius: 10px;
    height: auto;
    /* aspect-ratio: ; */
    object-fit: contain;
}
.scrollDiv .card h2 {
    line-height: 0;
    font-size: 45px;
    letter-spacing: 2px;
}

.scrollDiv .card p {
    font-size: 14px;
    padding: 10px;
    opacity: 50%;
    font-style: normal;
}