.navbar{
    position: fixed;
    width: 100%;
    height: 4rem;
    /* border: #0f0 2px solid; */
}
.navbar ul{
    margin-top: 0%;
    margin-left: 40%;
    list-style-type: none;
    display: flex;
    align-items: center;
    /* border: #00f 2px solid; */
    height: 100%;
    width: 50%;
    justify-content: space-around;
}


.navbar ul li{
    padding: 10px 5px;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;

}

.navbar ul li a:hover{
} 
 

@media (max-width: 600px) {
    .navbar{
        overflow-y: scroll;
    }
    .navbar ul{
        padding: 0;
        margin-left: 1rem;
        width: fit-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
    }
    .navbar ul li{
        height: 100%;
    }


    
}