.bg{
    padding: 10px;
    width: 100%;
    background-color: #ffffff12;
    margin-top: 100px;
}

.container {
    /* border: #fff 2px solid; */
    /* background-color: #962FBF; */
    width: 70%;
    max-width: 843px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.links {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links a{
    text-decoration: none;
}

.btn {
    width: 150px;
    padding: 10px 0px;
    border-radius: 10px;
    color: #191919;
    padding: 10px;
    background: #67d9f9;
    border: none;
    display: flex;
    border: #67d9f9 2px solid;
}

.btn:hover{
    color: #fff;
    border: #fff 2px solid;
    background: none;
}

.btn svg{
    width: 30px;
    margin-right: 20px;
}

.icons {
    width: calc(100% - 250px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icons a{
    padding: 10px;
}

.icons a i{
    font-size: 30px;
}

.links a:nth-child(1) i{
    background: linear-gradient(45deg, #FEDA75, #FA7E1E, #D62976, #962FBF, #4F5BD5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.links .icons a:nth-child(2) i{
    color: #0072B1;
}

.links .icons a:nth-child(3) i{
    color: #F0F6FE;
}

.links .icons a:nth-child(4) i{
    color: #1DA1F2;
}

.links i:hover {
    animation: bounce 1s infinite ease-in-out;
}

.links .icons svg{
    width: 30px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px) scale(1.3);
        /* transform: ; */
    }
}

@media (max-width:600px) {
    .links{
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 20px;
    }
    .links .icons{
        width: 100%;
    }
}