.container {
    /* border: #0f0 solid 2px; */
    width: 70%;
    max-width: 843px;
    height: 600px;
    margin: 0 auto;
    margin-top: 70px;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    /* background-color: #ffffff02; */
    /* padding: 10px; */
    border-radius: 20px;
    /* padding: 0px 100px 0px 100px; */
}

.container h1 {
    font-size: 3.5rem;
    text-align: center;
    /* margin: 0; */
    /* line-height: 0; */
}

.scrollDiv {
    /* border: #f00 2px solid; */
    margin: 0;
    height: 500px;
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 80px;
    /* padding: 100px   ; */
}

.scrollDiv::-webkit-scrollbar {
    display: none;
}



.scrollDiv .card {
    /* border: #00f solid 2px; */
    height: 90%;
    aspect-ratio: 3/4;
    background: #252525;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* padding: 10px; */
}
.card:hover{
    transform: scale(1.05);
    cursor: pointer;
}


.scrollDiv .imgDiv {
    /* height: 200px; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.imgDiv img{
    width: 100%;
    border-radius: 10px;
    height: auto;
    /* aspect-ratio: ; */
    object-fit: contain;
}
.scrollDiv .card h2 {
    line-height: 0;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.scrollDiv .card p {
    font-size: .8rem;
    padding: 10px;
    opacity: 50%;
    font-style: normal;
}
.projectBtn{
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    background-color: #67daf9;
    border: none;
    font-size: 1.3rem;
    padding: 0;
    
}
.projectBtn i{
    /* margin: 10px; */
    font-size: 1rem;
}
.projectBtn:hover{
    border: #fff 2px solid;
    background: none;
    color: #fff;
    font-size: 1rem;
}

.projectBtn:hover i{
    margin-left: 40px;
    transition: .5s;
}

@media (max-width: 600px) {
    .container{
        /* border: #00f 2px solid; */
        width: 100%;
        max-width: 500px;
        height: 700px;
        margin-top: 5rem;
        align-items: flex-start;
    }
    .container h1{
        margin-left: 2rem;
    }
    .scrollDiv{
        padding: 20px 0px;
        width: 80%;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5rem;
        /* overflow-y: visible; */
        /* justify-content: space-around; */

    }

    .scrollDiv .card{
        /* border: yellow 2px solid; */
        /* width: 90%; */
        aspect-ratio: 3/4;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        /* gap: 20px; */
        height: 80%;
    }

    .scrollDiv .card h2{
        all: unset;
        font-size: 2rem;
    }
    .scrollDiv .card p{
        font-size: 1rem;
        /* padding: 10px px 10px; */
    }
    .projectBtn{
        margin-left: 2rem;
    }
}
